<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddIngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text"
            id="name" 
            class="form-control"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amout">Amout</label>
          <input 
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button type="submit" class="btn btn-success mr-10" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger mr-10" (click)="onDelete()" [disabled]="!editMode">Delete</button>
          <button type="button" class="btn btn-primary mr-10" (click)="onClearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>